<h1>Burger Eating Logger!</h1>
<img src="assets/img/hamburger.gif" alt="hamburger">
<h2 id="add">Add a burger</h2>
<form class="create-burger">

  <div class="form-group">
    <label for="burger">What's your hamburger order?:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Add burger</button>
<br><br>
</form>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Burger list</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <p> Order: {{burger_name}} </p>
              </div>
              <div class="col-6">
                <button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
                  {{#if devour}}All gone{{else}}Eat me!{{/if}}
                </button>
              </div>
            </div>
          </div>
        </li>
        {{/unless}}
        {{/each}}

      </ul>
    </div>
    <div class="col-6">
      <h2>Burgers that have been devoured!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <p>{{burger_name}} eaten!</p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>